body {
    margin: 20px;
}

.search-container {
    margin-bottom: 20px;
}

#userTable {
    width: 60%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #848782;
    padding: 8px;
    text-align: left;
}

.search-button{
    background: #73ffef;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    color: #000;
}

th{
    background: #f2f2f2;
}

#nameSearch{
    padding: 6px;
    margin-right: 10px;
}