*{
    margin: 0;
    padding: 0;
}

.weather_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 15px; 
    height: 53px;
    background-color: #8E6FF7;
    color: #fff;
}

.city{
    font-size: 18px;
}

.icon-dingwei{
    margin-right: 7px;
}

.change_city_button{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 4px 13px;
    font-size: 13px;
}

.icon-chengshi{
    margin-right: 3px;
}


.weather_body{
    padding: 10px 16px;
}

.today {
    background-color: rgb(243, 238, 255);
    border-radius: 10px;
}

.temperature{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather_info{
    font-size: 14px;
    color: rgb(98, 134, 139);
}

.tem_info {
    font-size: 60px;
}

._wind {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

._wind_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-shidu1, .icon-fengxiang, .icon-wind-power{
    font-size: 20px;
    color: #8E6FF7;
    margin-bottom: 5px;
}

._wind_item_info{
    font-size: 14px;
    color: rgb(76, 77, 77);
    margin-bottom: 5px;
}

.funture_list{
    display: flex;
    justify-content: space-between;
}

.funture_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px;
    box-sizing: border-box;
    border: 1px solid #F3F4F6;
    border-radius: 16px;
    background-color: rgb(246, 255, 252);
    
}

.funture_item i{
    font-size: 50px;
    margin: 8px 0px 10px 0px;
}

.funture_item_date{
    font-size: 14px;
    color:#4B5563;
    align-self: start;
}