* {
    margin: 0;
    padding: 0;
}

.music {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.header {
    background-color: rgb(0, 0, 0);
    height: 76px;
    color: #fff;
    display: flex;
    padding: 0 16px;
    align-items: center;
}

.more,
.back {
    width: 40px;
    height: 40px;
    background-color: #222;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
}

.author {
    font-size: 14px;
    color: #999;
}





.body {
    flex:1;
    padding: 20px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
    margin: 20px;
}

._title {
    color: #fff;
    text-align: left;   
    margin-bottom: 8px;
    width: 311px;
    height: 61px;
}

.chart {
    width: 311px;
    height: 20px;
    color:#fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

._process {
    width: 27px;
    font-weight: 400;
    font-size: 14px;
   
}

._time {
    width: 27px;
}

._chart {
    width: 311px;
    height: 8px;
    border-radius: 4px 4px 4px 4px;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
}

.process {
    width: 12px;
    height: 12px;
    background: #FFFFFF;
    border-radius: 50%;
}

.icon-zuojiantou1 {
    font-size: 24px;
}




.contol_all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.control {
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.icon-zuo1,
.icon-you {
font-size: 35px;
background-color: #fff;
border-radius: 50%;
}

.icon-zanting {
    font-size: 50px;
    background: #fff;
    border-radius: 50%;
}

.footer {
    height: 72px;
    background: #000000;
}
