.login {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #bcd7ff;
}

.logn_container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
    padding: 15px;
}

.logn_content{
    display: flex;  
    gap: 50px;
}

.logn_left {
    width: 200px;
    display: flex;
    align-items: center;
}

.logn_right {
    width: 300px;
}

.logn_logo {
    width: 100%;
}